.ProgressBar {
    padding: 0.6rem;
    text-align: center;
}

#progressBar {
    margin: 1rem auto;
    width: 100%;
    height: 4px;

    border: 0px solid #afafaf;
    border-radius: 0.5rem;
    overflow: hidden;
}

#completed {
    height: 100%;
}

.progress-bar-step-1 {
    width: 33%;
    background-color: #0098be;
}

.progress-bar-step-2 {
    width: 66%;
    background-color: #0098be;
}

.progress-bar-step-3 {
    width: 100%;
    background-color: #0098be;
}

.progress-bar-step-4 {
    width: 100%;
    background-color: #2eb32e;
}