.Buttons {
    display: flex;

    justify-content: center;
    padding: 1rem;
}

button {
    padding: 10px 15px;
    margin: auto;

    width: 90px;

    border-radius: 3px;
    border-width: 0px;

    background-color: #0098be;
    color: white;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #35b9da;
}

button:focus {
    outline: none;
}