.labels {
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    text-align: center;
}

.label {
    width: 90px;
}

@media screen and (max-width: 500px){
    .label {
        width: 60px;
        font-size: 14px;
    }
}