.DetailsForm {
    padding: 1rem;
    min-height: 400px;

    display: flex;
    align-items: center;
}

@media screen and (max-width: 400px){
    .DetailsForm {
        min-height: 200px;
    }
}

.DetailsForm > div {
    margin: auto;
    height: 100%;
    width: 100%;
}