.Success {
    text-align: center;
    margin: 2rem;
    margin-top: 0;
}

.Success img {
    height: 300px;
    margin: auto;
    margin-bottom: 2rem;

    color: #2eb32e;
}

@media screen and (max-width: 400px){
    .Success img {
        height: 200px;
    }
}

.Success > div {
    margin: auto;
}

.Success p {
    font-size: 24px;
    font-weight: bold;
}